html {
  height: 100%;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #e5eff4 0%, #f7dde3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  margin: 1rem;
  height: 100px;
}

a {
  text-decoration: none;
  color: #000;
}

.left-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.center-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
